.heading {
  color: #c3112d;
  font-size: large;
}

.selector { 
  background-color: white; 
  color:black; 
  background-image:none;
  margin: 2px;
  padding: 5px;
  border: 2px solid blue;
}
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

.weather_output{
  padding: 10px;
  margin: 0px;
  text-align: center;
  width: 350px;
  position: relative;
}

.weather_outputPanel h2{
  margin: 10px;
  font-size: large;
}
.command_btn {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 32px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.0;
  margin: 5px;
  min-height: 2rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  vertical-align: baseline;
  width: 50px;
}

.command_btn:hover,
.command_btn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.command_btn:hover {
  transform: translateY(-1px);
}

.command_btn:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}